@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
*{
  font-family: 'Press Start 2P', cursive;  
}
body {
  background-color: black;
}
.wrapper {
  margin: 65px auto;
  border: 1px solid black;
}